@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
html, body, #root {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;
}

.legal {
  padding: 8px;
}

.legal a {
  color: #337ab7;
  text-decoration: none;
  padding: 8px;
}

.legal a:hover {
  text-decoration: underline;
}

.legal span {
  padding-right: 10px;
}

.socialMedia {
  padding: 8px;
  padding-right: 18px;
}

.socialMedia a {
  color: #337ab7;
  text-decoration: none;
  padding: 8px;
}

.socialMedia a:hover {
  text-decoration: underline;
}

.check-mark {
  margin-right: 8px;
}

.combo-box__combo-box-mark {
  margin-left: 6px;
  margin-top: 6px;
  cursor: pointer;
}

.react-datepicker-wrapper {
  display: flex;
  align-items: center;
}

.react-datepicker-popper {
  position: absolute;
  will-change: transform;
  top: 0px;
  left: 0px;
  transform: translate3d(986px, 134px, 0px);
  z-index: 2;
}

.react-datepicker {
  font-family: 'Lato', sans-serif;
  background-color: #fff;
  border: none;
  font-size: 14px;
  border-radius: 4px;
  padding: 4px;
  box-shadow: 0px 0px 10px #919191;
}

.react-datepicker__triangle {
  border-top: none;
  border-bottom-color: #f0f0f0;
  margin-left: 187px;
}

.react-datepicker__header {
  background-color: #fff;
  border-color: #ebebeb;
  text-align: center;
  border-bottom: 1px solid #aeaeae;
  border-top-left-radius: .3rem;
  border-top-right-radius: .3rem;
  padding-top: 8px;
  position: relative;
}

.react-datepicker__navigation {
  line-height: 1.7rem;
  text-align: center;
  cursor: pointer;
  position: absolute;
  top: 10px;
  width: 0;
  border: .45rem solid transparent;
  z-index: 1;
}

.react-datepicker__navigation--previous {
  left: 10px;
  background-color: transparent;
  color: #ccc;
  padding: 0;
  border-width: 9;
  border-right-color: #ccc;
}

.react-datepicker__navigation--next {
  right: 10px;
  background-color: transparent;
  color: #ccc;
  padding: 0;
  border-width: 9;
  border-left-color: #ccc;
}

.react-datepicker__current-month {
  font-size: 14px;
  color: #414f5a;
  font-weight: normal;
}

.react-datepicker__day-name {
  display: inline-flex;
  width: 32px;
  height: 32px;
  color: #414f5a;
  align-items: center;
  line-height: 1;
  justify-content: center;
  text-align: center;
  margin: 2px
}

.react-datepicker__month {
  margin: 10px;
}

.react-datepicker__week {
  white-space: nowrap;
}

.react-datepicker__day {
  display: inline-flex;
  width: 32px;
  height: 32px;
  color: #414f5a;
  align-items: center;
  line-height: 1;
  justify-content: center;
  text-align: center;
  margin: 2px;
  cursor: pointer;
  border-radius: 4px;
}

.react-datepicker__day:hover {
  background-color: #efefef;
}

.react-datepicker__day--selected {
  background-color: #48bbff;
  color: #fff;
}

.leaderboard-table__column-item {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  line-height: 1;
  font-weight: 100;
  color: #667784;
}

.blue-icon {
  color: #48bbff;
}

.blur-blue-icon {
  color: #baceda;
}

.bounce {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #44abee;
  animation-duration: .9s;
  animation-iteration-count: infinite;
}
.small-bounce {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: #44abee;
  animation-duration: .9s;
  animation-iteration-count: infinite;
}
.bounce__first {
  animation-name: resizing1;
} 
.bounce__second {
  animation-name: resizing2;
} 
.bounce__third {
  animation-name: resizing3;
}